#input-search {
  position: relative;
  width: 265px;
  align-items: flex-end;
  height: 40px;
  border: 1px solid darkgreen;
  border-radius: 4px;
  font-weight: bold;
}

input[type='search'] {
  outline: 0;
  width: 100%;
  background: white;
  padding: 5px;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.container {
  margin-top: 20px;
  /* border: 1px solid darkgreen; */
  padding: 20px;
  max-width: 900px;
  /* background-color: white; */
}

.card {
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
  border: 3px solid darkgreen;
  overflow: hidden;
}

#Popover1 {
  /* position: absolute; */
  /* right: 50px; */
  /* bottom: 5px; */
  font-size: 13px;
  font-weight: bold;
}

.stock {
  background-color: green;
  width: fit-content;
  padding: 5px;
  color: white;
  position: absolute;
  right: -20px;
  bottom: 70px;
  transform: rotate(-90deg);
  font-size: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  border-bottom: 3px solid darkgreen;
  max-width: fit-content;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: -15px;
  margin-bottom: -3px;
}

.card-body {
  padding-bottom: 0;
}

.card-img-top {
  border-bottom: 2px dashed darkgreen;
}

.product-content {
  margin-top: 20px;
}

.promo {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 5px;
  font-style: italic;
  font-weight: bold;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white !important;
  text-align: center;
  vertical-align: middle !important;
  padding-top: 12px;
  border: 2px solid white;
}

.container-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(211, 211, 211, 0.9);
}

.container-overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: darkgreen;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.normal-price {
  text-decoration: line-through;
}

.price {
  font-weight: bold;
}

.btn-tambah {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: fit-content;
  padding: 5;
}

select#selectCount.form-control {
  padding: 10px;
  width: 60px;
  height: 55px;
  border-radius: 0;
  border-top-right-radius: 5px;
  border: 3px solid #17a2b8;
  font-weight: bold;
  outline: none;
}

.d-flex {
  margin-bottom: -10px;
  padding-bottom: 4px;
}

.btn-tambah img {
  width: 20px;
}

.btn-tambah p {
  margin-bottom: 0;
  font-size: 10px;
}

.brand-name {
  cursor: pointer;
}

/* PAGINATION */
.pagination-product {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  background-color: #47ccde;
  /* border: 1px solid #47ccde ; */
  width: fit-content;
  border-radius: 3px;
  padding: 1px;
}
.pagination-product > .active > a {
  /* background-color: #47ccde ; */
  /* border-color: #47ccde ; */
  color: #fff;
}
.pagination-product > li > a {
  border: 2px solid #47ccde;
  padding: 0px 10px;
  background-color: white;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}
.pagination-product > .active > a,
.pagination-product > .active > span,
.pagination-product > .active > a:hover,
.pagination-product > .active > span:hover,
.pagination-product > .active > a:focus,
.pagination-product > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination-product > li > a,
.pagination-product > li > span {
  color: darkgreen;
  font-weight: bold;
}
.pagination-product > li:first-child > a,
.pagination-product > li:first-child > span,
.pagination-product > li:last-child > a,
.pagination-product > li:last-child > span {
  border-radius: unset;
}
