@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
  font-family: Quicksand;
  font-weight: bolder;
  color: black;
  background-color: rgb(211, 211, 211, 0.5);
}
.App {
  text-align: center;
}

.header {
  background-color: darkcyan;
  /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,6,74,1) 50%, rgba(8,68,167,1) 100%); */
}

.menu {
  display: inline-block;
  padding: 20px;
  color: white;
}

.menu:hover {
  background-color: white;
  color: darkcyan;
}

h2 {
  font-weight: bold;
  color: darkcyan;
}
