@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
  font-family: Quicksand;
  font-weight: bolder;
  color: black;
  background-color: rgb(211, 211, 211, 0.5);
}
.App {
  text-align: center;
}

.header {
  background-color: rgb(0, 139, 139, 0.8);
}

.menu {
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu-list {
  position: relative;
  width: auto;
  /* display: block; */
  color: white;
  padding: 25px;
  padding-top: 20px;
  font-size: 17px;
  padding-bottom: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.menu li:active {
  color: darkblue;
}

.menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: bottom right;
  background-color: darkblue;
}

.menu li:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
  background-color: white;
}

.menu li:hover {
  color: darkblue;
  transition: color 0.5s ease-in-out;
}

h2 {
  font-weight: bold;
  color: darkcyan;
}
